<div id="default-component">
    <div id="banana-container">
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
        <img src="https://media.tenor.com/ZgbW9V5PKoMAAAAM/banana-dance-dancing-banana.gif" />
    </div>
    <p>Wouldn't it be so much better if this were a customized app instead of a waste of bananas?</p>
</div>